StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    padding-top: 15;
    padding-left: 15;
    padding-right: 15;
    background-color: white;
}

.submit-button {
    background-color: tomato;
    color: white;
}