.add-bar {
  background-color: tomato;
  padding: 5 10;
  color: white;
  font-size: 30;
  text-decoration: none;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}